@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(./assets/file.woff2);
}
@font-face {
    font-family: font2;
    src: url(./assets/file2.woff2);
}

#section-2 {
    perspective: 3000px;
    position: relative;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

#con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#foot-anime{
    animation: foot-move 5s linear infinite
     
}

@keyframes foot-move {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}


@media (max-width: 640px) {
    .name{
        font-size: 22px;
        padding:2.5rem 2rem;
    }
    .pg1-top-right{
        padding: 3rem 7rem;
    }
    #top-btn{
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
    #menu-icon{
        margin-left: 0;
        margin-right: 1rem;
    }
    #menu-banner{
        right: 7.5rem;
        bottom: -4.5rem;
        width: 28vw;
        font-size: 18px;
    }
    .tunn{
        right: 1.2rem;
    }

    .tilt-text h1{
        margin-top: 7rem;
        font-size: 6vw;
        line-height: 5vw;
        font-weight: 100;
    }
    .tilt-text h1 span{
        color: white;
        text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .tilt-text h2{
        font-size: 10vw;
        line-height: 12vw;
    }
    .pg1-btm{
        margin: 2rem;
        flex-direction: column;
    }
    .pg1-btm-txt{
        font-size: 14px;
    }
    #btm-git{
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        right: 72vw;
    }
    #btm-linkedin{
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        right: 12vw;
    }
    #btm-instagram{
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        right: 32vw;
    }
    #btm-twitter{
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        right: 52vw;
    }
    #section-2{
        display: none;
    }
    .about{
        font-size: 5rem;
    }
    .pg3-h3{
        width: 80vw;
        font-size: 0.8rem;
    }
    
}